* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; padding: 0; margin: 0; }
body { position: relative; font-family: 'GmarketSans', sans-serif; font-size: 14px; line-height: 1.2; min-width:280px; overflow-x:hidden; }
ol, ul, dl { margin: 0; padding: 0; }
li { list-style: none; }
a { text-decoration: none; color:#000; }
button { background: none; border: none; cursor: pointer; font-family: 'GmarketSans', sans-serif; }

.clear::after { content:""; clear:both; display:block; }
.skip_tag { position: absolute; width: 1px; height: 1px; margin: -1px; overflow: hidden; clip-path: polygon(0 0, 0 0, 0 0); }
.font_pso { font-family: 'PoetsenOne', sans-serif; }
.font_kky { font-family: "Kranky", sans-serif; }
.container { max-width: 1230px; padding:0 15px; margin:0 auto; }

/* loader */
#loader { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: #fff; z-index: 99999; }
#loader > div { position: relative; width: 14px; height: 14px; top: 50%; left: 50%; transform: translate(-50%,-50%); border-radius:50%; background: #000; animation: loader_ani 1s ease-in-out infinite; }
#loader > div::before,
#loader > div::after { content: ""; position: absolute; background: #ffc800; top: 0px; left: 25px; width: 14px; height: 14px; border-radius: 50%; }
#loader > div::before { left:-25px; }

/* Header */
#hd { position: fixed; top: 0; left: 0; width: 100%; z-index: 1000; display: flex; align-items: center; height: 80px; padding: 0 40px; }
#hd.on { background:rgba(255,255,255,0.95); box-shadow: 0px 0px 10px rgba(0,0,0,0.15); }
#hd h1 { margin-right: auto; }
#hd nav ul { display: flex; gap: 0 20px; }
#hd nav ul li a { font-size: 16px; position: relative; }
#hd nav ul li a::after { content:""; position:absolute; bottom:-2px; left: 0; width: 0px; height: 2px; background:#000; opacity: 0; transition:all 0.3s; }
#hd nav ul li a:hover::after { width: 100%; opacity: 1; }

/* Footer */
#ft { padding: 30px 15px; background: #000; text-align: center; color: #fff; }
#ft strong { display: block; font-size: 26px; margin-bottom: 20px; }
#ft ul li { display: inline-block; font-size: 14px; margin-right: 20px; }
#ft ul li:last-child { margin-right: 0; }
#ft ul li b { margin-right: 10px; }
#ft p { font-size: 13px; color: #777; margin-top: 30px; }


/* Main : Home */
#home { position:relative; height: 100vh; overflow: hidden; }
#home .textsvg, #home svg { width: 100%; height: 100vh; }
#home .stroke {
    stroke: #000; stroke-width: 1px; stroke-dasharray: 0 250; stroke-opacity: 1; fill: none;
    animation: stroke_ani 8s infinite; animation-timing-function: cubic-bezier(.25, .46, .45, .94);
}
#home .fill { fill: #000; fill-opacity: 0; animation: fill_ani 8s infinite; animation-timing-function: cubic-bezier(.25, .46, .45, .94); }
#home #draw-text { font-family: 'Kranky', sans-serif; font-size: 64px; }

#home .click { position:absolute; bottom: 15px; left: 50%; transform:translateX(-50%); font-size: 12px; color:#000; }
#home .click span { position:relative; display:block; width:22px; height: 32px; border: 2px solid #000; border-radius: 20px; margin: 0 auto 5px; }
#home .click span::after { content:""; position:absolute; width:4px; height:6px;border-radius: 50%; background:#000; top:2px; left:7px; animation: scroll_ani 2s infinite; }

/* Main : About */
#about { padding: 170px 15px 50px; position: relative; }
#about::before {
    content: "About Me"; font-family: 'PoetsenOne', sans-serif; font-size: 120px; position: absolute; top: 60px; left: 50%; transform: translateX(-50%) rotate(-12deg);
    -webkit-text-stroke:5px #ebebeb; -webkit-text-fill-color:transparent; z-index: -1;
}
#about .info_box { display: flex; flex-wrap: wrap; align-items: center; justify-content: center; margin-bottom: 50px; padding-bottom: 50px; border-bottom: 1px solid #ebebeb; }
#about .info_box .img_box { position: relative; width:300px; height:380px; border-radius: 50%; background:url('../img/my_picture.png') no-repeat center / cover;}
#about .info_box .img_box img { position: absolute; top:0; right:5px; width: 70px; animation: twinkle_ani 1s 0.3s infinite alternate; }
#about .info_box .text_box { max-width: calc(100% - 300px); padding-left: 60px; }
#about .info_box .text_box h2 { font-size: 34px; margin-bottom: 30px; }
#about .info_box .text_box h2 .underline { position: relative; display: inline-block; }
#about .info_box .text_box h2 .underline::before { content:""; position: absolute; bottom: 0; left: 0; z-index: -1; width: 100%; height: 34px; background:linear-gradient(to top, #ffeb60 50%, transparent 50%); }
#about .info_box .text_box p { font-size: 16px; line-height: 1.6; margin-top: 15px; }
#about .skill_box h3,
#about .exper_box h3 { font-size: 20px; margin-bottom: 10px; background: url('../img/check_ico.png') no-repeat left top 2px / 16px; padding-left: 21px; }
#about .skill_box ul { display: flex; flex-wrap: wrap; gap: 20px 15px; }
#about .skill_box ul li { width: calc(50% - 7.5px); display: flex; align-items: center; }
#about .skill_box ul li img { width: 48px; }
#about .skill_box ul li p { width: calc(100% - 48px); padding-top: 5px; padding-left: 5px; font-size: 15px; line-height: 1.5; word-break: keep-all; }
#about .exper_box { display: flex; flex-wrap: wrap; gap: 30px; margin-top: 50px; }
#about .exper_box .inner { width: calc(50% - 15px); }
#about .exper_box ul li { position: relative; padding-left: 10px; font-size: 15px; line-height: 1.5; margin-top: 4px; }
#about .exper_box ul li::before { content: ""; width: 4px; height: 4px; background:#ffc800; border-radius: 50%; position: absolute; top: 8px; left: 0; }
#about .exper_box ul li span { font-size: 13px; color:#666; }

/* Main : Portfolio */
#portfolio { padding: 100px 15px; max-width: 1730px; }
#portfolio h2 { font-size: 70px; text-align: center; letter-spacing: -3px; text-shadow: 6px 5px 0px rgba(0,0,0,0.1); margin-bottom: 50px; }
#portfolio h2 span { position: relative; top: 5px; display: inline-block; animation: bounce_ani .3s ease infinite alternate; }
#portfolio h2 span:nth-child(2) { animation-delay: .1s; }
#portfolio h2 span:nth-child(3) { animation-delay: .2s; }
#portfolio h2 span:nth-child(4) { animation-delay: .3s; }
#portfolio h2 span:nth-child(5) { animation-delay: .4s; }
#portfolio h2 span:nth-child(6) { animation-delay: .5s; }
#portfolio h2 span:nth-child(7) { animation-delay: .6s; }
#portfolio h2 span:nth-child(8) { animation-delay: .7s; }
#portfolio h2 span:nth-child(9) { animation-delay: .8s; }
#portfolio .task_list { display: flex; flex-wrap: wrap; gap:30px 2%; }
#portfolio .task_list li { width: 32%; }
#portfolio .task_list li a { display: block; }
#portfolio .task_list li a .list_img { position: relative; padding-top:65%; background-repeat: no-repeat; background-position: center; background-size: cover; border-radius: 15px; border:1px solid #fff; overflow: hidden; }
#portfolio .task_list li a .list_img::after { content: "VIEW MORE"; position: absolute; top: 50%; left: 50%; transform: translate(-50%,calc(-50% - 10px)); color: #fff; opacity: 0; transition: all 0.3s; }
#portfolio .task_list li a:hover .list_img::after,
#portfolio .task_list li a:focus .list_img::after { opacity: 1; transform: translate(-50%,-50%); }
#portfolio .task_list li a .list_tit { font-size: 18px; line-height: 30px; margin-top: 20px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; text-align: center; }
#portfolio #load_btn { display: block; width: 120px; height: 42px; font-weight: 700; margin:50px auto 0; padding-top:4px; border: 1px solid #000; border-radius: 22px; transition: all 0.3s; }
#portfolio #load_btn:hover { background: #000; color:#fff; }

/* CONTACT */
#contact { padding: 50px 0 100px; overflow: hidden; }
#contact .flow_box { width: 150%; padding-top: 6%; background-image: url('../img/contact_back.png'); background-repeat: repeat-x; background-position: 0% center; background-size: 50% auto; animation: flow_ani 15s linear infinite;}
#contact .flow_box:hover { animation-play-state: paused; }
#contact .text_box{ text-align: center; margin-top: 70px; }
#contact .text_box p { font-size: 18px; line-height: 1.8; }
#contact .text_box ul { margin-top: 30px; }
#contact .text_box ul li { font-size: 16px; margin-top: 10px; }
#contact .text_box ul li b {margin-right: 10px;}
#contact .text_box ul li a { display: inline-block; }
#contact .text_box ul li a::after { content: ""; display: block; border-bottom: 1px solid #000; transform: scaleX(0); transition: transform 0.3s ease-in-out; }
#contact .text_box ul li a:hover::after { transform: scaleX(1); }

/* 애니메이션 */
@keyframes loader_ani {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

@keyframes stroke_ani {
    100%, 25% {
        stroke-dasharray: 0 250;
        stroke-opacity: 1
    }
    50%, 75% {
        stroke-dasharray: 250 0;
        stroke-opacity: .75
    }
    55%, 70% {
        stroke-dasharray: 250 0;
        stroke-opacity: 0
    }
}

@keyframes fill_ani {
    100%, 25%, 35%, 90% {
        fill-opacity: 0
    }
    50%, 70% {
        fill-opacity: 1
    }
}

@keyframes scroll_ani {
    0% {
        transform: translateY(2px);
    }
    100% {
        transform: translateY(8px);
    }
}

@keyframes twinkle_ani {
    0% {
        opacity: 0;
        transform: rotate(0deg) scale(0.7);
    }
    100% {
        opacity: 1;
        transform: rotate(15deg) scale(1);
    }
}

@keyframes bounce_ani {
    100% {
        top: -5px;
    }
}

@keyframes flow_ani {
    100% {
        background-position: -100% center;
    }
}